.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  padding: 12px 24px;
  color: white;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.college-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.college-logo {
  width: 40px;
  height: 40px;
}

.college-name {
  margin: 0;
  font-size: 16px;
}

.college-subtitle {
  font-size: 12px;
  color: #cbd5f5;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #60a5fa;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  font-size: 18px;
}

.logout-btn {
  background-color: #ef4444;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #dc2626;
}
